{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron centering">
    <h1>Tip Na Darček</h1>
    <p class="lead">Služba Pre Zúfalcov</p>
    <p>Nedá sa mi vycentrovať</p>
    <form role="form" class="centering">
        <div class="container-fluid" ng-app="my_app">
            <div class="form-group">
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="man">Muž
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="woman">Žena
                </label>
            </div>

            <div class="form-group">
                <label for="age" id="ageShow">Vek:</label>
                <input class="centered" type="range" name="points" id="age" value="24" min="0" max="114" onchange="$('#ageShow')[0].innerHTML='Vek: '+this.value" oninput="$('#ageShow')[0].innerHTML='Vek: '+this.value">

            </div>
        </div>
    </form>
</div>

{% block darceky %}{% endblock %}

{% endblock %}
